.fundo{
    background-color: aqua;
    font-weight: bold;
}

input[type=text]:focus{
    background-color: white;
    
}
input[type=text]{
    width: 230px;
}
textarea:focus{
    background-color: white
}